<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scatter plot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px">
<script src="../static/graph.js"></script>

<div class="row">
    <div class="col-6" id="wrapper"></div>
</div>

<div class="btn-group-horizontal col-sm-4 float-left">
    <button id="1" onclick="drawBar(null, 'temperatureLow', false)" type="button" class="btn btn-primary active">Generate</button>
    <button id="2" onclick="drawBar(null, 'temperatureLow', true)" type="button" class="btn btn-primary">Clear</button>
</div>

</body>
</html>